<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<script type="text/javascript">

$(document).ready(function() {
    $('dropdown-toggle').dropdown()
    $(".domain-selected").hide();

  // Listen for the demographic changing
  $('.domain').change(function(){
		alert('changed!');

    $('.domain-selected').show();
    // Grab the id of currenly selected demographic
    var clinical_domain_id = $(this).val();

    // Query the responses for this demographic:
    $.get( "/responses.json", { clinical_domain_id: clinical_domain_id }, function( data ) {

      // Remove the existing options in the responses drop down:
      $("#responses").html("");

      // Loop over the json and populate the Responses options:
      $.each( data, function( index, value ) {
        $("#responses").append( "<option value='" + value.id + "'>" + value.domain_name + "</option>" );
      });

    });
  });





});
</script>


	<div class='well'>
<%= form_tag("/test") do |f| %>
  <%= select_tag "domain", options_from_collection_for_select(ClinicalCategory.all, "id", "domain_name"), id: "demographic", class: "chosen" %><br>
  <%= select_tag "responses", "", id: "responses", class: "chosen" %>
<% end %>
		<% if @study.clinical_domains.empty? %>
			<h4>
				<span>Clinical Speciality</span>
				<span class='domain'>
					<select>

						<option value="domain">Select Domain</option>
						<%= options_from_collection_for_select(ClinicalCategory.all, :id, :domain_name) %>
					</select>
				</span>
				<span class='domain-selected'>Justification/Notes: </span>
				<span class='domain-selected'><input type="text" size="30" name="new_domain_comment" value="<%= new_domain.comment %>" </span>
				<span class='domain-selected'>
					<%= link_to "Add", new_clinical_domain_path(:id=>new_domain.id), class: "btn btn-default btn-mini" %>
				</span>
			</h4>
		<% else %>
			<h4>Clinical Domain(s)
			<select>
				<option value="category">Add Domain</option>
				<%= options_from_collection_for_select(ClinicalCategory.all, :id, :domain_name) %>
			</select></h4>
		<% end %>

	</div>

<link href="/assets/bootstrap.css" media="screen" rel="stylesheet" />
<%= form_for(study) do |f| %>
  <% if @study.errors.any? %>
    <div id="error-explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this study from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
