<script src="/assets/jquery.js" type="text/javascript"></script>
<script src="/assets/bootstrap-transfer.js" type="text/javascript"></script>
<link href="/assets/bootstrap.css" media="screen" rel="stylesheet" />
<link href="/assets/bootstrap-transfer.css" media="screen" rel="stylesheet" />

<div class="row">
  <div class="col-md-3">

    <h4>
      <%= @study.acronym %>
      <%= @study.brief_title %>
    </h4>

    <p>
			<li><i class="fa-li fa fa-check-square"></i> <%= @study.overall_status %></li>
			<li><i class="fa-li fa fa-check-square"></i> <%= @study.study_type %></li>
			<li><i class="fa-li fa fa-check-square"></i> <%= @study.phase %></li>
    </p>

    <p>
      <%= @study.prime_address %>
    </p>

    <p>


		<%= link_to 'Return to List', studies_path, class: "btn btn-primary" %>

    <br>
    <br>

    <iframe
      width="230"
      height="230"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJg0HiO2KtvExTuiWB6rKhmUUsHXFk6dY
        &q=<%= @study.prime_address.parameterize %>&zoom=14">
    </iframe>
  </div>

  <div class="col-md-9">
    <% if @study.reviews.blank? %>
			<div class='well'>
				Brief Summary:
      	<%= @study.brief_summary.description %>
			</div>
			<div class='well'>
				Eligibility:
      	<%= @study.eligibility.criteria %>
			</div>

			<div class='well'>
				<div id="test" style="width:400px">
				</div>
				<%= link_to "Update Clinical Category", new_review_path(:nct_id=>@study.nct_id), class: "btn btn-primary" %>
			</div>

    <script>
		$(function() {
			var t = $('#test').bootstrapTransfer(
				{'target_id': 'multi-select-input',
				 'height': '15em',
				 'hilite_selection': true});

			t.populate([

				{value:"1", content:"Cardiology"},
				{value:"2", content:"Dermatology"},
				{value:"3", content:"Endocrinology"},
				{value:"4", content:"Genomics"},
				{value:"5", content:"GI/Hepatology"},
				{value:"6", content:"Immunology/Rheumatology"},
				{value:"7", content:"Infectious Diseases"},
				{value:"8", content:"Medicine"},
				{value:"9", content:"Nephrology"},
				{value:"10", content:"Neurosciences Medicine (Neurology)"},
				{value:"11", content:"Neurosciences Medicine (Psych)"},
				{value:"12", content:"Oncology"},
				{value:"13", content:"Otolaryngology"},
				{value:"14", content:"Pediatrics Cardiology"},
				{value:"15", content:"Pulmonary/Critical Care"},
				{value:"16", content:"Reporductive Medicine/OB-GYN"}

			]);
		});
    </script>

    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @study.reviews.each do |review| %>
            <tr>
              <td>
                <h4>
                  <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                </h4>
                <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
              </td>

              <td>
                <div class="star-rating" data-score= <%=review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
                <% if user_signed_in? %>
									<td><%= link_to 'Edit', edit_review_path(review), data: {:id=>review.id}, class: "btn btn-link" %></td>
									<td><%= link_to 'Destroy', review, method: :delete, data: {confirm: 'Are you sure?',:id=>review.id}, class: "btn btn-link" %></td>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_study_path(@study), class: "btn btn-link" %> |
<%= link_to 'Back', studies_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>


